# Stoks Pet project

## Init

### імпортую бібліотеки

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### завантажую наявні таблиці

In [4]:
df_rtx4070 = pd.read_csv("tables/rtx4070.csv")
df_stocks = pd.read_csv("tables/stock_prices.csv")

In [5]:
df_rtx4070

           week rtx_4070
0    2021-12-26       <1
1    2022-01-02       <1
2    2022-01-09       <1
3    2022-01-16       <1
4    2022-01-23       <1
..          ...      ...
154  2024-12-08       74
155  2024-12-15       74
156  2024-12-22       84
157  2024-12-29       80
158  2025-01-05       88

[159 rows x 2 columns]

In [4]:
df_stocks.head(5)

,ticker,date,open,high,low,close,adj_close,volume
0,NVDA,2022-01-03,29.815001,30.711000,29.785000,30.121000,30.066133,391547000
1,NVDA,2022-01-04,30.277000,30.468000,28.349001,29.290001,29.236649,527154000
2,NVDA,2022-01-05,28.948999,29.416000,27.533001,27.604000,27.553719,498064000
3,NVDA,2022-01-06,27.639999,28.438000,27.065001,28.177999,28.126673,454186000
4,NVDA,2022-01-07,28.141001,28.422001,27.056999,27.247000,27.197369,409939000

### об'єдную таблиці в одну

In [6]:
df_merge = df_stocks.merge(df_companies, on='ticker', how='left')
df_merge.head(5)

,ticker,date,open,high,low,close,adj_close,volume,company_name,sector,...,beta,1y_target_price,52_week_high,52_week_low,revenue,net_income,ebitda,free_cash_flow,profit_margin,return_on_equity
0,AAPL,2024-06-03,192.899994,194.990005,192.520004,194.029999,193.126801,50080500,Apple Inc.,Technology,...,1.211,228.85326,260.1,169.21,400366010368,97294000128,138865999872,97251500032,0.24301,1.38015
1,AAPL,2024-06-04,194.639999,195.320007,193.029999,194.350006,193.445312,47471400,Apple Inc.,Technology,...,1.211,228.85326,260.1,169.21,400366010368,97294000128,138865999872,97251500032,0.24301,1.38015
2,AAPL,2024-06-05,195.399994,196.899994,194.869995,195.869995,194.958237,54156800,Apple Inc.,Technology,...,1.211,228.85326,260.1,169.21,400366010368,97294000128,138865999872,97251500032,0.24301,1.38015
3,AAPL,2024-06-06,195.690002,196.500000,194.169998,194.479996,193.574722,41181800,Apple Inc.,Technology,...,1.211,228.85326,260.1,169.21,400366010368,97294000128,138865999872,97251500032,0.24301,1.38015
4,AAPL,2024-06-07,194.649994,196.940002,194.139999,196.889999,195.973480,53103900,Apple Inc.,Technology,...,1.211,228.85326,260.1,169.21,400366010368,97294000128,138865999872,97251500032,0.24301,1.38015

## EDA

### дізнаюся статистичні дані про таблицю

In [7]:
df_merge.describe()

,open,high,low,close,adj_close,volume,market_cap,pe_ratio,eps,dividend_yield,beta,1y_target_price,52_week_high,52_week_low,revenue,net_income,ebitda,free_cash_flow,profit_margin,return_on_equity
count,996.000000,996.000000,996.000000,996.000000,996.000000,9.960000e+02,9.960000e+02,996.000000,996.000000,747.000000,996.000000,996.000000,996.00000,996.000000,9.960000e+02,9.960000e+02,9.960000e+02,9.960000e+02,996.000000,996.000000
mean,270.932721,274.660391,267.247028,271.143846,269.752496,4.599159e+07,1.993536e+12,65.730114,7.572500,1.523333,1.277000,302.334437,348.52250,206.120000,2.138578e+11,5.546150e+10,8.265350e+10,4.305641e+10,0.227220,0.524615
std,105.723420,106.916803,104.316288,105.636911,105.844153,4.309807e+07,1.310511e+12,65.152771,4.015839,1.294604,0.745509,129.598227,137.37377,80.962303,1.298736e+11,4.189437e+10,6.181483e+10,3.655866e+10,0.105299,0.503071
min,141.000000,143.669998,140.679993,142.059998,139.733963,3.164100e+06,3.743364e+11,17.172184,1.860000,0.520000,0.410000,169.182620,169.99000,140.680000,8.933100e+10,6.107000e+09,1.255000e+10,3.360000e+09,0.063830,0.087740
25%,170.359997,173.560001,167.320004,169.920002,169.563637,1.367022e+07,8.926692e+11,27.631146,5.317500,0.520000,0.872000,213.935600,237.57250,162.077500,9.412575e+10,1.788425e+10,2.565625e+10,1.343784e+10,0.198215,0.242788
50%,230.565002,233.925003,228.095001,231.279999,230.589706,3.354475e+07,2.036236e+12,33.953306,7.765000,0.700000,1.118500,264.056865,367.78000,169.505000,1.828670e+11,5.922250e+10,8.444550e+10,3.580706e+10,0.243580,0.315285
75%,390.172501,395.152504,384.450005,391.407509,390.690262,6.503400e+07,3.137102e+12,72.052274,10.020000,3.350000,1.523500,352.455702,478.73000,213.547500,3.025990e+11,9.679975e+10,1.414427e+11,6.542563e+10,0.272585,0.597112
max,475.899994,488.540009,464.459991,479.859985,479.859985,3.186799e+08,3.527335e+12,177.841660,12.900000,3.350000,2.461000,512.041400,488.54000,344.790000,4.003660e+11,9.729400e+10,1.491730e+11,9.725150e+10,0.357890,1.380150

### ще деяка інформація про наші колонки

In [8]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ticker            996 non-null    object
 1   date              996 non-null    object
 2   open              996 non-null    float64
 3   high              996 non-null    float64
 4   low               996 non-null    float64
 5   close             996 non-null    float64
 6   adj_close         996 non-null    float64
 7   volume            996 non-null    int64
 8   company_name      996 non-null    object
 9   sector            996 non-null    object
 10  market_cap        996 non-null    int64
 11  pe_ratio          996 non-null    float64
 12  eps               996 non-null    float64
 13  dividend_yield    747 non-null    float64
 14  beta              996 non-null    float64
 15  1y_target_price   996 non-null    float64
 16  52_week_high      996 non-null    float64
 17  52_week_low       996 non-null    float64
 18  revenue           996 non-null    int64
 19  net_income        996 non-null    int64
 20  ebitda            996 non-null    int64
 21  free_cash_flow    996 non-null    int64
 22  profit_margin     996 non-null    float64
 23  return_on_equity  996 non-null    float64
dtypes: float64(14), int64(6), object(4)
memory usage: 186.9+ KB

### значення в кожній колонці

In [12]:
columns = df_merge.columns

for i in columns:
    print(df_merge[i].value_counts())
    print()

ticker
AAPL    249
MSFT    249
TSLA    249
JNJ     249
Name: count, dtype: int64

date
2024-06-03    4
2024-06-04    4
2024-06-05    4
2024-06-06    4
2024-06-07    4
             ..
2025-05-23    4
2025-05-27    4
2025-05-28    4
2025-05-29    4
2025-05-30    4
Name: count, Length: 249, dtype: int64

open
163.000000    4
229.300003    3
229.449997    2
424.010010    2
434.600006    2
             ..
153.000000    1
152.520004    1
153.279999    1
151.750000    1
195.690002    1
Name: count, Length: 965, dtype: int64

high
154.039993    3
221.479996    3
224.800003    2
415.000000    2
225.990005    2
             ..
211.380005    1
153.320007    1
153.479996    1
153.639999    1
226.800003    1
Name: count, Length: 961, dtype: int64

low
419.750000    2
234.009995    2
446.410004    2
232.600006    2
233.089996    2
             ..
151.369995    1
152.210007    1
213.000000    1
151.559998    1
193.029999    1
Name: count, Length: 974, dtype: int64

close
165.860001    3
235.860001    2
226.779999    2
436.170013    2
234.399994    2
             ..
152.610001    1
152.940002    1
152.429993    1
153.580002    1
165.419998    1
Name: count, Length: 967, dtype: int64

adj_close
223.690399    2
221.989670    2
161.845657    2
160.830826    2
157.688766    2
             ..
151.639999    1
153.250000    1
152.429993    1
153.580002    1
206.524170    1
Name: count, Length: 986, dtype: int64

volume
15529700     1
50080500     1
47471400     1
54156800     1
13249300     1
            ..
198134300    1
97862700     1
70122700     1
93728300     1
79943300     1
Name: count, Length: 996, dtype: int64

company_name
Apple Inc.               249
Microsoft Corporation    249
Tesla, Inc.              249
Johnson & Johnson        249
Name: count, dtype: int64

sector
Technology           498
Consumer Cyclical    249
Healthcare           249
Name: count, dtype: int64

market_cap
3007024726016    249
3527334690816    249
1065446866944    249
374336389120     249
Name: count, dtype: int64

pe_ratio
31.117466     249
36.789146     249
177.841660    249
17.172184     249
Name: count, dtype: int64

eps
6.47     249
12.90    249
1.86     249
9.06     249
Name: count, dtype: int64

dividend_yield
0.52    249
0.70    249
3.35    249
Name: count, dtype: int64

beta
1.211    249
1.026    249
2.461    249
0.410    249
Name: count, dtype: int64

1y_target_price
228.85326    249
512.04140    249
299.26047    249
169.18262    249
Name: count, dtype: int64

52_week_high
260.10    249
475.46    249
488.54    249
169.99    249
Name: count, dtype: int64

52_week_low
169.21    249
344.79    249
169.80    249
140.68    249
Name: count, dtype: int64

revenue
400366010368    249
270010007552    249
95724003328     249
89330999296     249
Name: count, dtype: int64

net_income
97294000128    249
96635002880    249
6106999808     249
21809999872    249
Name: count, dtype: int64

ebitda
138865999872    249
149172994048    249
12549999616     249
30025000960     249
Name: count, dtype: int64

free_cash_flow
97251500032    249
54817001472    249
3360000000     249
16797124608    249
Name: count, dtype: int64

profit_margin
0.24301    249
0.35789    249
0.06383    249
0.24415    249
Name: count, dtype: int64

return_on_equity
1.38015    249
0.33610    249
0.08774    249
0.29447    249
Name: count, dtype: int64

## Preprocessing

## Encoding

## Feature Engineering

## Correlation

Vi

In [ ]:
# Stoks Pet project